<?xml version="1.0" encoding="utf-8"?>
<WelcomeScreen>
  <Examples>
<File>
      <Label>New User Interface</Label>
      <Description>The new interface simplifies operation for casual and power users</Description>
      <Path>DGN\Topics\NewGUI_en.dgn</Path>
      <Video>Standards\Videos\NewGUI_en.mp4</Video>
      <Image>Standards\Thumbnails\NewGUI_en.jpg</Image>
      <Duration>417</Duration>
    </File>
    <File>
      <Label>Connected Projects</Label>
      <Description>Use Bentley Cloud Services to share your project information</Description>
      <Path>DGN\Topics\ConnectedProjects_en.dgn</Path>
      <Video>Standards\Videos\ConnectedProjects_en.mp4</Video>
      <Image>Standards\Thumbnails\ConnectedProjects_en.jpg</Image>
      <Duration>134</Duration>
    </File>
    <File>
      <Label>Functional Components</Label>
      <Description>Functional Components enable a family of parts to be easily modeled</Description>
      <Path>DGN\Topics\ParametricCells_en.dgn</Path>
      <Video>Standards\Videos\ParametricCells_en.mp4</Video>
      <Image>Standards\Thumbnails\ParametricCells_en.jpg</Image>
      <Duration>293</Duration>
    </File>
    <File>
      <Label>Acute3D Integration</Label>
      <Description>Integrate Acute3D models with your design models</Description>
      <Path>DGN\Topics\Acute3D_en.dgn</Path>
      <Video>Standards\Videos\Acute3DSample_en.mp4</Video>
      <Image>Standards\Thumbnails\Acute3D_en.jpg</Image>
      <Duration>140</Duration>
    </File>

    <File>
      <Label>Item Types</Label>
      <Description>Item types add intelligence to objects in your projects</Description>
      <Path>DGN\Topics\ItemTypes_en.dgn</Path>
      <Video>Standards\Videos\ItemTypes_en.mp4</Video>
      <Image>Standards\Thumbnails\ItemTypes_en.jpg</Image>
      <Duration>260</Duration>
    </File>
    <File>
      <Label>Annotation</Label>
      <Description>Annotate objects with associated item data</Description>
      <Path>DGN\Topics\Annotation_en.dgn</Path>
      <Video>Standards\Videos\Annotation_en.mp4</Video>
      <Image>Standards\Thumbnails\Annotation_en.jpg</Image>
      <Duration>208</Duration>
    </File>
    <File>
      <Label>Display Rules</Label>
      <Description>Customize your display based on object properties</Description>
      <Path>DGN\Topics\DisplayRules_en.dgn</Path>
      <Video>Standards\Videos\DisplayRules_en.mp4</Video>
      <Image>Standards\Thumbnails\DisplayRules_en.jpg</Image>
      <Duration>185</Duration>
    </File>
    <File>
      <Label>Reporting and Tables</Label>
      <Description>Produce reports from intelligent objects</Description>
      <Path>DGN\Topics\Reporting_en.dgn</Path>
      <Video>Standards\Videos\Reporting_en.mp4</Video>
      <Image>Standards\Thumbnails\Reporting_en.jpg</Image>
      <Duration>242</Duration>
    </File>
    <File>
      <Label>Sheet Indexing</Label>
      <Description>Create indexes of sheet models within your projects</Description>
      <Path>DGN\Topics\SheetIndexing_en.dgn</Path>
      <Video>Standards\Videos\SheetIndexing_en.mp4</Video>
      <Image>Standards\Thumbnails\SheetIndexing_en.jpg</Image>
      <Duration>165</Duration>
    </File>
    <File>
      <Label>Visualization</Label>
      <Description>Photo-realistic rendering and animation</Description>
      <Path>DGN\Topics\Visualization_en.dgn</Path>
      <Video>Standards\Videos\Visualization_en.mp4</Video>
      <Image>Standards\Thumbnails\Visualization_en.jpg</Image>
      <Duration>314</Duration>
    </File>
    <File>
      <Label>Geographic coordinate systems</Label>
      <Description>Geographic coordinate systems locate your design in the real world improving interoperability with other applications</Description>
      <Path>DGN\Topics\GCS_en.dgn</Path>
      <Video>Standards\Videos\GCS_en.mp4</Video>
      <Image>Standards\Thumbnails\GCS_en.jpg</Image>
      <Duration>148</Duration>
    </File>
    <File>
      <Label>Reality Mesh Classification Tools</Label>
      <Description>Spatially classify reality mesh models into a discrete set of volumes</Description>
      <Path>DGN\Topics\RealityMeshClassificationTools_en.dgn</Path>
      <Video>Standards\Videos\RealityMeshesClassificationTools_en.mp4</Video>
      <Image>Standards\Thumbnails\RealityMeshesClassificationTools_en.jpg</Image>
      <Duration>153</Duration>
    </File>
  </Examples>
</WelcomeScreen>
