#======================================================================
# WorkSet.Template - Template for new workSets
#======================================================================

#----------------------------------------------------------------------
# When MicroStation executes, one and only one WorkSet configuration file
# is chosen and read.
#
# The function of a WorkSet configuration file is to allow the location
# of any combination of _USTN_WORKSETROOT, _USTN_WORKSETSTANDARDS, and
# _USTN_WORKSETDGNS to be changed for this WorkSet.
#
# These variables drive lists of directories of the WorkSet.
# For example, variables like MS_DEF, MS_CELL, MS_DGNLIBLIST, etc. are
# defined, by default, as offsets of these variables as shown below.
# MS_DEF                   = $(_USTN_WORKSETDGNS)
# MS_CELL                  < $(_USTN_WORKSETSTANDARDS)cell/
# MS_DGNLIBLIST            > $(_USTN_WORKSETSTANDARDS)Dgnlib/*.dgnlib
#
# By default, _USTN_WORKSETROOT is $(_USTN_WORKSETSROOT)$(_USTN_WORKSETNAME)/,
# the Standards (_USTN_WORKSETSTANDARDS) are in $(_USTN_WORKSETROOT)Standards/,
# and the Dgn Files (_USTN_WORKSETDGNS) are in $(_USTN_WORKSETROOT)Dgn.
# Often, those defaults work fine and this file does not have to make any definitions.
#----------------------------------------------------------------------
_USTN_WORKSETROOT	= $(_USTN_WORKSETSROOT)$(_USTN_WORKSETNAME)/
_USTN_WORKSETDGNWS  = $(_USTN_WORKSETSROOT)$(_USTN_WORKSETNAME).dgnws
_USTN_WORKSETSTANDARDS	= $(_USTN_WORKSETROOT)Standards/
_USTN_WORKSETDGNS	= $(_USTN_WORKSETROOT)Dgn/
_USTN_OUT		= $(_USTN_WORKSETROOT)out/

MS_DGNLIBLIST          	= $(_USTN_WORKSETSTANDARDS)Dgnlib/DrawComp/*.dgnlib
MS_DGNLIBLIST 		> $(_USTN_WORKSETSTANDARDS)Dgnlib/*.dgnlib
MS_DGNLIBLIST_PRINTING        = $(_USTN_WORKSETSTANDARDS)Dgnlib/MetroStationPrintStyles.dgnlib

MS_SEEDFILES		= $(_USTN_WORKSETSTANDARDS)seed/

MS_RFDIR		> $(_USTN_WORKSETDGNS)3DModel/
MS_RFDIR		> $(_USTN_WORKSETSTANDARDS)seed/


MS_DESIGNSEED		= 3D Metric Design.dgn
MS_DESIGNMODELSEED   	= 3D Metric Design.dgn

MS_DESIGNMODELSEEDNAME	= 3D Metric Design

MS_DRAWINGMODELSEED	= 2D Metric Drawing.dgn
MS_DRAWINGMODELSEEDNAME = 2D Metric Drawing

MS_SHEETMODELSEED 	= 2D Metric Sheet.dgn
MS_SHEETMODELSEEDNAME 	= 2D Metric Sheet

MS_PATTERN > $(_USTN_WORKSETSTANDARDS)Materials/Pattern/


