.mstheme
{
    navbutton-background-color: rgb(255,255,255);
    top-bar-button: url(bluglob.gif);
    nav-banner-image: url(blubanna.gif);
    separator-image: url(bluhorsd.gif);
    list-image-1: url(blubul1d.gif);
    list-image-2: url(blubul2d.gif);
    list-image-3: url(blubul3d.gif);
    navbutton-horiz-pushed: url(bluhbusd.gif);
    navbutton-horiz-normal: url(bluhbudd.gif);
    navbutton-vert-pushed: url(bluvbusd.gif);
    navbutton-vert-normal: url(bluvbudd.gif);
    navbutton-home-normal: url(bluhombd.gif);
    navbutton-up-normal: url(bluupbd.gif)
    navbutton-prev-normal: url(bluprebd.gif);
    navbutton-next-normal: url(blunexbd.gif);
}
.mstheme-bannertxt
{
    vertical-align: middle;
    color: #000066;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-bannertxt a:active
{
    color: #000066
}
.mstheme-bannertxt a:link
{
    color: #000066
}
.mstheme-bannertxt a:visited
{
    color: #000066
}
.mstheme-bannertxt-g
{
    font-size: 20pt;
    background-image: url(blubannd.gif);
    vertical-align: middle;
    color: #000066;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-bannertxt-g A:active
{
    color: #000066
}
.mstheme-bannertxt-g a:link
{
    color: #000066
}
.mstheme-bannertxt-g a:visited
{
    color: #000066
}
.mstheme-bannertxt-s
{
    font-size: 20pt;
    vertical-align: middle;
    color: #000066;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-bannertxt-s a:active
{
    color: #000066
}
.mstheme-bannertxt-s a:link
{
    color: #000066
}
.mstheme-bannertxt-s a:visited
{
    color: #000066
}
.mstheme-horiz-navtxt
{
    font-weight: bold;
    vertical-align: middle;
    color: #330099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-horiz-navtxt a:active
{
    color: #330099
}
.mstheme-horiz-navtxt a:link
{
    color: #330099
}
.mstheme-horiz-navtxt a:visited
{
    color: #330099
}
.mstheme-horiz-navtxt-g
{
    font-size: 12pt;
    background-image: url(bluhbudd.gif);
    vertical-align: middle;
    color: #330099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-horiz-navtxt-g a:active
{
    color: #330099
}
.mstheme-horiz-navtxt-g a:link
{
    color: #330099
}
.mstheme-horiz-navtxt-g a:visited
{
    color: #330099
}
.mstheme-horiz-navtxt-gs
{
    font-weight: bold;
    font-size: 12pt;
    background-image: url(bluhbusd.gif);
    vertical-align: middle;
    color: #330099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-horiz-navtxt-gs a:active
{
    color: #330099
}
.mstheme-horiz-navtxt-gs a:link
{
    color: #330099
}
.mstheme-horiz-navtxt-gs a:visited
{
    color: #330099
}
.mstheme-navtxthome
{
    vertical-align: middle;
    color: #660099;
    font-family: Arial, Helvetica;
    text-align: center
}
.mstheme-navtxthome a:active
{
    color: #660099
}
.mstheme-navtxthome a:link
{
    color: #660099
}
.mstheme-navtxthome a:visited
{
    color: #660099
}
.mstheme-navtxthome-g
{
    font-size: 10pt;
    background-image: url(bluhombd.gif);
    vertical-align: middle;
    color: #660099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-navtxthome-g a:active
{
    color: #660099
}
.mstheme-navtxthome-g a:link
{
    color: #660099
}
.mstheme-navtxthome-g a:visited
{
    color: #660099
}
.mstheme-navtxtnext
{
    vertical-align: middle;
    color: #660099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-navtxtnext a:active
{
    color: #660099
}
.mstheme-navtxtnext a:link
{
    color: #660099
}
.mstheme-navtxtnext a:visited
{
    color: #660099
}
.mstheme-navtxtnext-g
{
    font-size: 10pt;
    background-image: url(blunexbd.gif);
    vertical-align: middle;
    color: #660099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-navtxtnext-g a:active
{
    color: #660099
}
.mstheme-navtxtnext-g a:link
{
    color: #660099
}
.mstheme-navtxtnext-g a:visited
{
    color: #660099
}
.mstheme-navtxtprev
{
    vertical-align: middle;
    color: #660099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-navtxtprev a:active
{
    color: #660099
}
.mstheme-navtxtprev a:link
{
    color: #660099
}
.mstheme-navtxtprev a:visited
{
    color: #660099
}
.mstheme-navtxtprev-g
{
    font-size: 10pt;
    background-image: url(bluprebd.gif);
    vertical-align: middle;
    color: #660099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-navtxtprev-g a:active
{
    color: #660099
}
.mstheme-navtxtprev-g a:link
{
    color: #660099
}
.mstheme-navtxtprev-g a:visited
{
    color: #660099
}
.mstheme-navtxtup
{
    vertical-align: middle;
    color: #660099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-navtxtup a:active
{
    color: #660099
}
.mstheme-navtxtup a:link .mstheme-navtxtup a:visited
{
    color: #660099
}
.mstheme-navtxtup-g
{
    font-size: 10pt;
    background-image: url(bluupbd.gif);
    vertical-align: middle;
    color: #660099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-navtxtup-g a:active
{
    color: #660099
}
.mstheme-navtxtup-g a:link
{
    color: #660099
}
.mstheme-navtxtup-g a:visited
{
    color: #660099
}
.mstheme-topbar-font
{
    color: #330099;
    font-family: 'Century Gothic', Arial, Helvetica;
}
.mstheme-topbar-font a:active
{
    color: #330099
}
.mstheme-topbar-font a:link
{
    color: #330099
}
.mstheme-topbar-font a:visited
{
    color: #330099
}
.mstheme-topbar-font-g
{
    font-size: 10pt;
    background-image: url(bluglob.gif);
    vertical-align: middle;
    color: #330099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-topbar-font-g a:active
{
    color: #330099
}
.mstheme-topbar-font-g a:link
{
    color: #330099
}
.mstheme-topbar-font-g a:visited
{
    color: #330099
}
.mstheme-vert-navtxt
{
    font-weight: bold;
    vertical-align: middle;
    color: #330099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-vert-navtxt a:active
{
    color: #330099
}
.mstheme-vert-navtxt a:link
{
    color: #330099
}
.mstheme-vert-navtxt a:visited
{
    color: #330099
}
.mstheme-vert-navtxt-g
{
    font-size: 12pt;
    background-image: url(bluvbudd.gif);
    vertical-align: middle;
    color: #330099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-vert-navtxt-g a:active
{
    color: #330099
}
.mstheme-vert-navtxt-g a:link
{
    color: #330099
}
.mstheme-vert-navtxt-g a:visited
{
    color: #330099
}
.mstheme-vert-navtxt-gs
{
    font-weight: bold;
    font-size: 12pt;
    background-image: url(bluvbusd.gif);
    vertical-align: middle;
    color: #330099;
    font-family: 'Century Gothic', Arial, Helvetica;
    text-align: center
}
.mstheme-vert-navtxt-gs a:active
{
    color: #330099
}
.mstheme-vert-navtxt-gs a:link
{
    color: #330099
}
.mstheme-vert-navtxt-gs a:visited
{
    color: #330099
}
a:link
{
    color: #cc9900
}
a:visited
{
    color: #666699
}
a:active
{
    color: #cc3399
}
body
{
    background-image: url(blutextb.gif);
    color: #003399;
    font-family: 'Century Gothic', Arial, Helvetica;
    background-color: #ffffff
}
table
{
    table-border-color-light: rgb(102,102,102);
    table-border-color-dark: rgb(0, 51, 153)
}
h1
{
    color: #000066;
    font-family: 'Century Gothic', Arial, Helvetica
}
h2
{
    color: #000066;
    font-family: 'Century Gothic', Arial, Helvetica
}
h3
{
    color: #000066;
    font-family: 'Century Gothic', Arial, Helvetica
}
h4
{
    color: #000066;
    font-family: 'Century Gothic', Arial, Helvetica
}
h5
{
    color: #000066;
    font-family: 'Century Gothic', Arial, Helvetica
}
h6
{
    color: #000066;
    font-family: 'Century Gothic', Arial, Helvetica
}
ul
{
    list-style-image: url(blubul1d.gif);
    list-style-type: circle
}
ul ul
{
    list-style-image: url(blubul2d.gif);
    list-style-type: circle
}
ul ul ul
{
    list-style-image: url(blubul3d.gif);
    list-style-type: circle
}
