/* Page Definitions */
@page section1
{
    size:8.5in 11.0in;
    margin:.75in 1.0in .6in 1.13in;
}
div.section1
{
    page:section1;
}

a:link
{
    color: #669999
}
a:visited
{
    color: #999900
}
a:active
{
    color: #3366cc
}
body
{
    background-image: url(engrbk.gif);
    font-size: 8pt;
    color: #000000;
    font-family: 'Times New Roman';
    background-color: #ffffff
}
p, li
{
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 8pt;
    margin-left: 0in;
    font-size: 8pt;
    font-family: 'Times New Roman';
}
h1
{
    font-weight: normal;
    font-size: 18pt;
    color: #666633;
    font-style: normal;
    font-family: 'Times New Roman'
}
h2
{
    font-weight: normal;
    font-size: 16pt;
    color: #666633;
    font-style: normal;
    font-family: 'Times New Roman'
}
h3
{
    font-weight: normal;
    font-size: 14pt;
    color: #666633;
    font-style: normal;
    font-family: 'Times New Roman'
}
h4
{
    font-weight: normal;
    font-size: 12pt;
    color: #666633;
    font-style: normal;
    font-family: 'Times New Roman'
}
h5
{
    font-weight: normal;
    font-size: 11pt;
    color: #666633;
    font-style: normal;
    font-family: 'Times New Roman'
}
h6
{
    font-weight: normal;
    font-size: 10pt;
    color: #666633;
    font-style: normal;
    font-family: 'Times New Roman'
}
button
{
    border-right: #999900 1pt solid;
    border-top: #999900 1pt solid;
    font-size: 8pt;
    border-left: #999900 1pt solid;
    color: white;
    border-bottom: #999900 1pt solid;
    font-family: 'Times New Roman';
    background-color: #666633
}
label
{
    font-size: 8pt;
    color: #000000;
    font-family: 'Times New Roman'
}
textarea
{
    border-right: #666633 1pt solid;
    border-top: #666633 1pt solid;
    font-size: 8pt;
    border-left: #666633 1pt solid;
    color: black;
    border-bottom: #666633 1pt solid;
    font-style: normal;
    font-family: 'Times New Roman'
}
fieldset
{
    border-right: #666633 1pt solid;
    border-top: #666633 1pt solid;
    font-size: 8pt;
    border-left: #666633 1pt solid;
    color: black;
    border-bottom: #666633 1pt solid;
    font-style: normal;
    font-family: 'Times New Roman'
}
legend
{
    font-size: 8pt;
    color: #666633;
    font-style: normal;
    font-family: 'Times New Roman'
}
select
{
    border-right: #666633 1pt solid;
    border-top: #666633 1pt solid;
    font-size: 8pt;
    border-left: #666633 1pt solid;
    color: black;
    border-bottom: #666633 1pt solid;
    font-style: normal;
    font-family: 'Times New Roman'
}
table
{
    border-left-color: #666633;
    border-bottom-color: #666633;
    font-size: 10pt;
    color: #000000;
    border-top-color: #666633;
    font-style: normal;
    font-family: 'Times New Roman';
    border-right-color: #666633;
    table-border-color-light: #999900;
    table-border-color-dark: #666633
}
table.margin
{
    margin-left: .25in
}
caption
{
    font-size: 12pt;
    color: #666633;
    font-style: normal;
    font-family: 'Times New Roman'
}
th
{
    border-left-color: #666633;
    border-bottom-color: #666633;
    color: #000000;
    border-top-color: #666633;
    font-style: normal;
    font-family: 'Times New Roman';
    border-right-color: #666633
}
.underline
{
    border-style: solid;
    border-left-color: #666633;
    border-left-width: 0px;
    border-bottom-color: #666633;
    border-bottom-width: 1px;
    color: #000000;
    border-top-color: #666633;
    border-top-width: 0px;
    font-style: normal;
    font-family: 'Times New Roman';
    border-right-color: #666633;
    border-right-width: 0px
}
.overline
{
    border-style: dashed;
    border-left-color: #666633;
    border-left-width: 0px;
    border-bottom-color: #666633;
    border-bottom-width: 0px;
    color: #000000;
    border-top-color: #666633;
    border-top-width: 1px;
    font-style: normal;
    font-family: 'Times New Roman';
    border-right-color: #666633;
    border-right-width: 0px
}
.sidepad
{
    padding-left: 12px;
    padding-right: 12px
}
hr
{
    color: #666633
}
td
{
    border-left-color: #666633;
    border-bottom-color: #666633;
    border-top-color: #666633;
    border-right-color: #666633
}
marquee
{
    font-size: 14pt;
    color: #666633;
    font-family: 'Times New Roman'
}
.italic
{
    font-style: italic;
}
code
{
    font-family:"Courier New";
    font-size:9.0pt;
}
span.directory
{
    font-family:"Times New Roman";
    font-style:italic;
    font-size:10.5pt;
}
p.normal1, li.normal1, div.normal1
{
    margin-top:0in;
    margin-right:0in;
    margin-bottom:10.0pt;
    margin-left:.25in;
    font-size:10.0pt;
    font-family:'Times New Roman';
}
p.normal2, li.normal2, div.normal2
{
    margin-top:0in;
    margin-right:0in;
    margin-bottom:10.0pt;
    margin-left:0.5in;
    font-size:10.0pt;
    font-family:'Times New Roman';
}
p.list1number, ol.list1number, li.list1number, div.list1number
{
    margin-top:0in;
    margin-right:.25in;
    margin-bottom:5.0pt;
    margin-left:0in;
    padding-bottom:5.0pt
    text-indent:-.25in;
    font-size:10.0pt;
    font-family:'Times New Roman';
}
p.list1continue, li.list1continue, div.list1continue
{
    margin-top:0in;
    margin-right:.25in;
    margin-bottom:6.0pt;
    margin-left:.75in;
    font-size:10.0pt;
    font-family:'Times New Roman';
}
p.list2number, li.list2number, div.list2number
{
    margin-top:0in;
    margin-right:.25in;
    margin-bottom:5.0pt;
    margin-left:1.5in;
    text-indent:-.25in;
    font-size:10.0pt;
    font-family:'Times New Roman';
}
p.small
{
    font-family: 'Times New Roman';
    font-size: 8pt;
}
table.help
{
    margin-left:.5in;
    border-collapse:collapse
    font-style: normal;
    font-family: 'Times New Roman';
}

/* List Definitions */
ol
{
    margin-top:0in;
    margin-right:.25in;
    margin-bottom:5.0pt;
    margin-left:.75in;
    margin-bottom:8pt;
    font-size:8pt;
    font-family:'Times New Roman';
}
ul
{
    list-style-image: url(engrbu1.gif)
    margin-bottom:0pt;
    font-size:8pt;
    font-family:'Times New Roman';
}
ul ul
{
    list-style-image: url(engrbu2.gif)
    margin-bottom:0pt;
    font-size:8pt;
    font-family:'Times New Roman';
}
ul ul ul
{
    list-style-image: url(engrbu3.gif)
    margin-bottom:0pt;
    font-size:8pt;
    font-family:'Times New Roman';
}
